http://localhost {
    # Logs pour debug
    log {
        output stdout
        level DEBUG
    }
    
    # Routes API - tout ce qui commence par /api va vers le backend
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:8080
    }
    
    # Frontend React - tout le reste
    handle {
        root * /usr/share/web
        try_files {path} /index.html
        file_server
    }
    
    encode gzip
    
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
}
